.backgroud-white{
  background-color: white;
}

.backgroud-lightgray{
  background-color: #F2F2F3;
}
.wrapper{
  padding: 4vw;

}
.inter-b{
  font-family: inter;
  font-weight: 700;
}
.inter-l{
  font-family: inter;
  font-weight: 500;
}
input{
  padding: 1.5vw .6vw;
  border: none;
  font-family: inter;
  font-weight: 500;
  background-color: transparent;
}
input::placeholder{
  font-family: inter;
  font-weight: 700;
  color: black;

}
/* input:hover{

  outline-color: #0858F7;
} */
input:focus{
  border: none;
  outline: none;
}