.otp-input input{
    padding: 1.5vw ;
    margin-left: .5vw;
    border-radius: 1vw;
    border: 1px solid #0858F7;
    font-family: inter;
    font-weight: 500;
    background-color: transparent;
}
.otp-input input:focus{
    outline-color: #0858F7;

        box-shadow: 0 0 5px #0858F7;
      
}
@media screen and (max-width: 900px) {

}
.otp-input input{
    padding: 2vw;
    border-radius: 1.2vw;
    margin-right: 1vw;
}
@media screen and (max-width: 600px) {
    .otp-input input{
        padding: 4vw;
        border-radius: 2vw;
        margin-left: 3vw;
    }

}